<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
   
        .container{
            padding-top: 200px;
            padding-left: 600px;
            padding-bottom: 200px;
        }
        body{
            background-image:url(https://marketplace.canva.com/EAFCO6pfthY/1/0/1600w/canva-blue-green-watercolor-linktree-background-F2CyNS5sQdM.jpg);

        }
        h1{
            color: black;
        }
        body{
            color: black;
        }
    
    </style>
</head>
<body>
    <div class="container">
    <h1>LOGIN</h1>
    <form method="POST">
        <label>USERNAME:</label>
        <input name="username" type="text"><br><br>
        <label>PASSWORD:</label>
        <input name="password" type="text"><br><br>
        <button>SUBMIT</button></div>
    </form>    
</body>
</html>