<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    <style>
        .container{
            padding-left: 600px;
            padding-bottom: 200px;
            padding-top: 200px;
            background-image: url(https://marketplace.canva.com/EAFCO6pfthY/1/0/1600w/canva-blue-green-watercolor-linktree-background-F2CyNS5sQdM.jpg);
            background-size: cover;
            
        }
    </style>
</head>
<body>
     <form method="post">
    <div class="container">
        <h2>REGISTER</h2>
        <label for="username">Username:</label><br>
        <input name="username" type="text" id="username" required><br>
        <label for="mobile">Mobile Number:</label><br>
        <input name="mobile" type="tel" id="mobile" required><br>
        <label for="email">Email Id:</label><br>
        <input name="email" type="email" id="email" required><br>
        <label for="address">Address:</label><br>
        <input name="address" type="text" id="address" required><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" id="password" required><br><br>
        <button type="submit">Submit</button><br>
    </div>
     </form>

</body>
</html>